html {
    position: relative;
    scrollbar-gutter: unset;
}

body {
    overflow-x: clip;
}

.cover {
    width: calc(100%-80px);
    height: 380px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    background-color: var(--grey-color);
    position: relative;
}

.cover_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
}

.cover_title {
    font-size: 3.4rem;
    color: var(--white-color);
    font-family: var(--main-font);
    font-weight: 600;
    max-width: 920px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100% - 80px);
    width: 100%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.pop_up {
    display: none;
}

.pop_up.active {
    display: block;
}

.pop_up-background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .9;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
}

.pop_up-img {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.content_main {
    max-width: 920px;
}

h1 {
    padding-top: 30px;
}

.catalog_line {
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}

.catalog { 
    max-width: 240px;
    width: 100%;
    position: sticky;
    top: 0;
    max-height: 400px;
    padding-top: 60px;
}

h1, h2, h3, h4 {
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 800;
    padding-top: 40px;
}

h2 {font-size: 1.7rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.2rem;}

.page-title {
    padding: 0;
}

.img {
    max-height: 340px;
    max-width: inherit;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.pop_up-img img {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px); 
}

p {
    margin-top: 15px;
    font-size: 1.1rem;
    font-family: var(--serif-font);
}

.catalog_title {
    font-family: var(--main-font);
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.1rem;
}

.catalog_list {
    margin-top: 10px;
}

.catalog_item {
    font-family: var(--main-font);
    cursor: pointer;
    user-select: none;
}

.catalog_item a {
    transition: .3s;
    height: 46px;
    display: flex;
    align-items: center;
}

.catalog_item:hover a {
    margin-left: 13px;
}

.navigation {
    margin-top: 30px;
    border-top: 1px solid var(--main-color);
    max-width: 920px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 0;
}

.navigation_button {
    display: flex;
    padding: 15px 0;
    align-items: center;
    border: 1px solid var(--main-color);
    width: 180px;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
    color: var(--main-color);
}

.navigation_text {
    display: block;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: .9rem;
    user-select: none;
    font-weight: 900;
}

.navigation_button:hover {
    background-color: var(--gold-color);
    border: 1px solid var(--gold-color);
    color: white;
}

.disabled {
    border: 1px solid var(--grey-color);
    color: var(--grey-color);
    cursor: default;
}

.disabled:hover {
    background-color: white;
    border: 1px solid var(--grey-color);
    color: var(--grey-color);
}