@media (max-width: 1400px) {
    .container {
        max-width: 1080px;
    }
    .slider_item {
        max-width: 1080px;
    }
    .categories_block {
        height: 220px;
        margin: 0 15px;
    }
    .categories_text {
        max-width: 200px;
        font-size: 1rem;
    }
    .categories_hover {
        max-width: 240px;
        height: 90px;
    }
    .search_wrapper {
        width: 1080px;
    }
    #posts_wrapper {
        margin-top: 50px;
    }
    .post {
        max-width: 700px;
    }
    #posts_wrapper > .post {
        max-width: 100%;
    }
    .quote_wrapper {
        height: 90px;
    }
    .catalog {
        max-width: 180px;
    }
    .content_main {
        max-width: 800px;
    }
    .side_block {
        max-width: 320px;
    }
    .post_img {
        max-width: 320px;
    }
    .posts_sort {
        display: none;
    }
    .contact_item, .contact_bg {
        max-width: 240px;
        height: 400px;
    }
    .about_additional {
        flex-flow: column-reverse;
    }
    .about_cover {
        flex-direction: row;
        justify-content: space-between;
    }
    .about_cover-item {
        margin: 0 25px !important;
        max-width: 100%;
    }
    .about_cover-item:nth-child(1) {
        margin-left: 0 !important;
    }
    .about_cover-item:nth-child(3) {
        margin-right: 0 !important;
    }
    .about_content {
        margin-top: 55px;
    }
    p {
        max-width: none;
    }
    .about_p p {
        max-width: 800px;
    }
}

@media (max-width: 1240px) {
    .container {
        max-width: 880px;
    }
    .slider_item {
        max-width: 880px;
    }
    .search_wrapper {
        width: 880px;
    }
    .content_wrapper {
        display: block;
    }
    .post {
        max-width: 100%;
    }
    .side_block {
        display: flex;
        max-width: 100%;
        justify-content: space-between;
    }
    .side_left, .side_right {
        max-width: 400px;
        width: 100%;
    }
    .post_img {
        max-width: 386.67px;
        width: 100%;
    }
    .nav {
        margin-top: 60px;
    }
    .header {
        margin-top: 40px;
    }
    .page-title {
        font-size: 42px;
    }
    #gallery {
        display: none;
    }
    .gallery_slider-wrapper {
        display: block;
    }
    .content_main {
        max-width: 600px;
    }
    .post:nth-child(1) {
        margin-top: 26px;
    }
    .cover_title, .about_title {
        font-size: 2.7rem;
    }
    .contact_item, .contact_bg {
        max-width: 400px;
        height: 400px;
    }
    .about_preview {
        max-width: 100%;
    }
    .about_block {
        flex-direction: column;
    }
    .about_p p {
        max-width: 100%;
    }
    .about_p {
        padding: 55px 0 0 0;
    }
}


@media (max-width: 1020px) {
    .container {
        max-width: 780px;
    }
    .slider_item {
        max-width: 780px;
    }
    .search_wrapper {
        width: 780px;
    }
    .slider_wrapper {
        max-height: 400px;
    }
    .slider_item {
        max-height: 400px;
    }
    .slider_left-arrow, .slider_right-arrow {
        top: 175px;
    }
    .slider_block {
        max-width: 600px;
        height: 240px;
    }
    .slider_block-text {
        font-size: 1.8rem;
    }
    .slider_block-read {
        max-width: 160px;
        padding: 10px 0;
        font-size: .8rem;
    }
    .gallery_title {
        margin-top: 0;
    }
    .post_img {
        max-width: 340px;
    }
    .categories_hover {
        max-width: 220px;
        height: 80px;
    }
    .slider, #posts_wrapper, .cover, .about_block, .contact_list {
        margin-top: 30px;
    }
    .nav {
        margin-top: 40px;
    }
    #catalog {
        display: none;
    }
    .content_main {
        max-width: 100%;
    }
    .contact_item, .contact_bg {
        max-width: 360px;
        height: 400px;
    }
}

@media (max-width: 920px) {
    .container {
        max-width: 670px;
    }
    .slider_item {
        max-width: 670px;
    }
    .search_wrapper {
        width: 670px;
    }
    #nav {
        display: none;
    }
    .burger_popup {
        display: block;
    }
    .slider, #posts_wrapper, .cover, .about_block, .contact_list {
        margin-top: 15px;
    }
    .nav {
        margin-top: 20px;
    }
    .slider_block {
        max-width: 530px;
        height: 220px;
    }
    .slider_block-text {
        margin-top: 25px;
    }
    .slider_item {
        max-height: 320px;
    }
    .slider_wrapper {
        max-height: 320px;
    }
    .slider_left-arrow, .slider_right-arrow {
        top: 145px;
    }
    .post_text {
        max-width: 700px;
    }
    .side_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .categories_text {
        max-width: 175px;
    }
    .categories_hover {
        max-width: 188px;
        height: 75px;
    }
    .nav_item a {
        padding: 10px 38px;
    }
    .nav_categories-list {
        left: 120px;
    }
    .cover {
        height: 300px;
    }
    .cover_title, .about_title {
        font-size: 2.8rem;
    }
    .contact_item, .contact_bg {
        max-width: 300px;
        height: 400px;
    }
    .about_cover-item {
        margin: 0 10px !important;
    }
}

@media (max-width: 800px) {
    .container {
        max-width: 600px;
    }
    .slider_item {
        max-width: 600px;
    }
    .search_wrapper {
        width: 600px;
    }
    .categories_block {
        height: 180px;
    }
    .categories_hover {
        max-width: 168px;
        height: 72px;
    }
    .categories_text {
        max-width: 160px;
        font-size: .9rem;
    }
    .slider_left-arrow, 
    .slider_right-arrow {
        width: 40px;
        height: 40px;
        font-size: .9rem;
        top: 147.5px;
    }
    .post_img {
        max-height: 240px;
    }
    .post_head {
        font-size: 1rem;
    }
    .post_text  {
        height: 88px;
    }
    .side_title {
        font-size: 1rem;
    }
    .nav_item a {
        padding: 10px 28px;
    }
    .nav_categories-list {
        left: 102px;
    }
    .cover_title, .about_title {
        font-size: 2.5rem;
    }
    .navigation_text {
        font-size: .8rem;
    }
    .navigation_button {
        width: 160px;
    }
    .contact_item, .contact_bg {
        max-width: 270px;
        height: 400px;
    }
    .about_cover {
        flex-direction: column;
    }
    .about_cover-item {
        margin: 25px 0 0 0 !important;
    }
    .about_cover-item:nth-child(1) {
        margin: 0 !important;
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 500px;
    }
    .slider_item {
        max-width: 500px;
    }
    .search_wrapper {
        width: 500px;
    }
    .slider_block {
        max-width: 400px;
        max-height: 180px;
        padding: 0 30px;
    }
    .slider_block-text {
        font-size: 1.4rem;
        margin-top: 15px;
    }
    .slider_block-head {
        margin-top: 25px;
    }
    #categories_wrapper {
        display: none;
    }
    .categories_element {
        display: block;
    }
    .post_img {
        height: auto;
    }
    .post_text {
        height: 45px;
    }
    .nav_list {
        display: block;
    }
    .nav_item a, .nav_item:nth-child(2) {
        padding: 20px 28px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .nav_categories-list {
        top: 117px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .post {
        margin-top: 30px;
    }
    .categories_element {
        margin-top: 30px;
        height: 130px;
    }
    .side_block {
        margin-top: 50px;
    }
    .side_item {
        padding-bottom: 40px;
    }
    .gallery_title {
        font-size: 1.3rem;
        margin-top: 15px;
    }
    .nav_list {
        margin: 0 auto;
    }
    .post_block-read {
        display: block;
    }
    .post_read-more {
        display: none;
    }
    .block-read_wrapper {
        display: flex;
    }
    .post_text {
        display: none;
    }
    .post_img {
        max-width: 240px;
    }
    .post_read-more {
        height: auto;
        margin-bottom: 10px;
        max-width: 100%;
    }
    .post_read-more-btn.blog {
        margin-top: 40px;   
        margin-bottom: 17px; 
    }
    .cover {
        height: 240px;
    }
    .cover_title, .about_title {
        font-size: 2rem;
    }
    .contact_item, .contact_bg {
        max-width: 220px;
        height: 400px;
    }
    .about_additional, .about_content {
        margin-top: 45px !important;
    }
    .about_p {
        padding-top: 45px !important;
    }
} 

@media (max-width: 600px) {
    .container {
        max-width: 460px;
    }
    .slider_item {
        max-width: 460px;
        max-height: 320px;
    }
    .slider_wrapper {
        max-height: 320px;
    }
    .search_wrapper {
        width: 460px;
    }
    #slider_left-arrow, 
    #slider_right-arrow {
        display: none;
    }
    .slider_block {
        padding: 0 12px;
        max-width: 350px;
        max-height: 160px;
    }
    .slider_block-head {
        margin-top: 20px;
    }
    .slider_block-text {
        font-size: 1.2rem;
    }
    .slider_block-read {
        font-size: .7rem;
        max-width: 140px;
    }
    .contact_item, .contact_bg {
        max-width: 100%;
        height: 400px;
    }
    
}

@media (max-width: 520px) {
    .container {
        max-width: 420px;
    }
    .slider_item {
        max-width: 420px;
    }
    .search_wrapper {
        width: 420px;
    }
    .slider_block {
        max-width: 360px;
    }
    .post_text {
        max-width: 440px;
    }
    .about_additional, .about_content {
        margin-top: 25px !important;
    }
    .about_p {
        padding-top: 25px !important;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 380px;
    }
    .slider_item {
        max-width: 380px;
    }
    .search_wrapper {
        width: 380px;
    }
    .slider_block {
        width: 320px;
    }
    .post_text {
        max-width: 320px;
    }
    .load_more-item {
        margin-left: 7px;
    }
}

@media (max-width: 440px) {
    .container {
        max-width: 340px;
    }
    .slider_item {
        max-width: 340px;
    }
    .search_wrapper {
        width: 340px;
    }
    .slider_block {
        max-width: 316px;
    }
    .load_more-item {
        margin-left: 2px;
        width: 32px;
        height: 28.5px;
    }
    .load_more-txt {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 320px;
    }
    .slider_item {
        max-width: 320px;
    }
    .search_wrapper {
        width: 320px;
    }
}